[tool.cibuildwheel]
build = "*-manylinux*"
manylinux-x86_64-image = "manylinux_2_24"
manylinux-i686-image = "manylinux_2_24"
#musllinux-x86_64-image = "musllinux_1_1"
#musllinux-i686-image = "musllinux_1_1"

[tool.cibuildwheel.linux]
before-all = [
  "sed -i -e 's/deb.debian.org/archive.debian.org/g'
          -e 's|security.debian.org|archive.debian.org/|g'
          -e '/stretch-updates/d' /etc/apt/sources.list",
  "apt-get update -y",
  "apt-get install -y libsystemd-dev"
]
